# Block Russian Referrer Spam 
RewriteEngine On
RewriteCond %{HTTP_REFERER} (semalt) [NC,OR]
RewriteCond %{HTTP_REFERER} (buttons-for-website) [NC,OR]
RewriteCond %{HTTP_REFERER} (blackhatworth) [NC,OR]
RewriteCond %{HTTP_REFERER} (7makemoneyonline) [NC,OR]
RewriteCond %{HTTP_REFERER} (ilovevitaly) [NC,OR]
RewriteCond %{HTTP_REFERER} (iloveitaly) [NC,OR]
RewriteCond %{HTTP_REFERER} (priceg) [NC,OR]
RewriteCond %{HTTP_REFERER} (prodvigator) [NC,OR]
RewriteCond %{HTTP_REFERER} (resellerclub) [NC,OR]
RewriteCond %{HTTP_REFERER} (savetubevideo) [NC,OR]
RewriteCond %{HTTP_REFERER} (screentoolkit) [NC,OR]
RewriteCond %{HTTP_REFERER} (kambasoft) [NC,OR]
RewriteCond %{HTTP_REFERER} (socialseet) [NC,OR]
RewriteCond %{HTTP_REFERER} (superiends) [NC,OR]
RewriteCond %{HTTP_REFERER} (vodkoved) [NC,OR]
RewriteCond %{HTTP_REFERER} (o-o-8-o-o) [NC,OR]
RewriteCond %{HTTP_REFERER} (iskalko) [NC,OR]
RewriteCond %{HTTP_REFERER} (luxup) [NC,OR]
RewriteCond %{HTTP_REFERER} (myftpupload) [NC,OR]
RewriteCond %{HTTP_REFERER} (websocial) [NC,OR]
RewriteCond %{HTTP_REFERER} (ykecwqlixx) [NC,OR]
RewriteCond %{HTTP_REFERER} (slftsdybbg) [NC,OR]
RewriteCond %{HTTP_REFERER} (seoexperimenty) [NC,OR]
RewriteCond %{HTTP_REFERER} (darodar) [NC,OR]
RewriteCond %{HTTP_REFERER} (econom) [NC,OR]
RewriteCond %{HTTP_REFERER} (edakgfvwql) [NC,OR]
RewriteCond %{HTTP_REFERER} (adcash) [NC,OR]
RewriteCond %{HTTP_REFERER} (adviceforum) [NC,OR]
RewriteCond %{HTTP_REFERER} (hulfingtonpost) [NC,OR]
RewriteCond %{HTTP_REFERER} (europages) [NC,OR]
RewriteCond %{HTTP_REFERER} (gobongo) [NC,OR]
RewriteCond %{HTTP_REFERER} (cenoval) [NC,OR]
RewriteCond %{HTTP_REFERER} (cityadspix) [NC,OR]
RewriteCond %{HTTP_REFERER} (cenokos) [NC,OR]
RewriteCond %{HTTP_REFERER} (ranksonic) [NC,OR]
RewriteCond %{HTTP_REFERER} (lomb) [NC,OR]
RewriteCond %{HTTP_REFERER} (econom) [NC,OR]
RewriteCond %{HTTP_REFERER} (srecorder) [NC,OR]
RewriteCond %{HTTP_REFERER} (see-your-website-here) [NC,OR]
RewriteCond %{HTTP_REFERER} (76brighton) [NC,OR]
RewriteCond %{HTTP_REFERER} (paparazzistudios) [NC,OR]
RewriteCond %{HTTP_REFERER} (powitania) [NC,OR]
RewriteCond %{HTTP_REFERER} (sharebutton) [NC,OR]
RewriteCond %{HTTP_REFERER} (tasteidea) [NC,OR]
RewriteCond %{HTTP_REFERER} (descargar-musica-gratis) [NC,OR]
RewriteCond %{HTTP_REFERER} (torontoplumbinggroup) [NC,OR]
RewriteCond %{HTTP_REFERER} (best-seo-offer) [NC,OR]
RewriteCond %{HTTP_REFERER} (best-seo-solution) [NC,OR]
RewriteCond %{HTTP_REFERER} (get-free-traffic-now) [NC,OR]
RewriteCond %{HTTP_REFERER} (buy-cheap-online) [NC,OR]
RewriteCond %{HTTP_REFERER} (4webmasters) [NC,OR]
RewriteCond %{HTTP_REFERER} (googlsucks) [NC,OR]
RewriteCond %{HTTP_REFERER} (youporn-forum) [NC,OR]
RewriteCond %{HTTP_REFERER} (rapidgator-porn) [NC,OR]
RewriteCond %{HTTP_REFERER} (kabbalah-red-bracelets) [NC,OR]
RewriteCond %{HTTP_REFERER} (free-share-buttons) [NC,OR]
RewriteCond %{HTTP_REFERER} (fbdownloader) [NC,OR]
RewriteCond %{HTTP_REFERER} (cyprusbuyproperties) [NC]
RewriteCond %{HTTP_REFERER} (floating-share-buttons) [NC,OR]
RewriteCond %{HTTP_REFERER} (success-seo) [NC,OR]
RewriteRule .* – [F]

<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>

